@use './colors.scss' as colors;

$baseFont: 'Lato', sans-serif;
$codeFont: 'Source Code Pro', monospace;
$fontSizeSmall: 15px;

body {
	font-family: $baseFont;
	font-size: 18px;
	line-height: 1.65;
	font-weight: 400;
	color: colors.color(gray, 200);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
	margin: 1em 0 0.5em 0;
	color: colors.$white;
	font-weight: 700;
}

code {
	font-family: $codeFont;
}

b,
strong {
	font-weight: 700;
	color: colors.$white;
}
