---
import Layout from '../layouts/IndexLayout.astro';
---

<Layout title="Kontakt | HisQu">
    <main class="isolate px-6 py-24 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-4xl font-semibold tracking-tight text-white sm:text-5xl">
                Kontakt
            </h2>
            <p class="mt-6 text-lg text-slate-300">
                Projektkoordinator Clemens Beck.
            </p>
            <p class="mt-6">
                <a href="mailto:clemens.beck@uni-jena.de" class="text-purple-400 hover:text-purple-300 text-lg font-semibold">
                    clemens.beck@uni-jena.de
                </a>
            </p>
        </div>
    </main>
</Layout>