---
import Hero from "../components/Landing/Hero.astro"
import Problem from "../components/Landing/Problem.astro"
import Solution from "../components/Landing/Solution.astro"
import Layout from "../layouts/IndexLayout.astro"
import HermeneuticCircleSection from "../components/Landing/HemeneuticCircle/HermeneuticCircleSection.astro"
import PartnerSection from "../components/Landing/PartnerSection.astro"
import Blog from "../components/Landing/Blog.astro"
import RepertoriumGermanicum from "../components/Landing/RepertoriumGermanicum.astro"
---

<Layout title="Präsentations-Website" showFooter={false}>
  <main id="presentation-container">
    <Hero />
    <Problem />
    <RepertoriumGermanicum />
    <Solution />
    <HermeneuticCircleSection />
    <PartnerSection />
    <Blog />
  </main>
</Layout>

<script>
  import { gsap } from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll(".fullscreen-section");
    const scrollRoot = document.getElementById("presentation-container");
    const isMobile = window.innerWidth < 768;

    const options: IntersectionObserverInit = {
      root: scrollRoot,
      threshold: isMobile ? 0.2 : 0.4,
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        const content = entry.target.querySelector(".content-container");
        if (!content) return;

        if (entry.isIntersecting) {
          gsap.to(content, {
            opacity: 1,
            y: 0,
            duration: 1.2,
            ease: "power3.out",
            delay: 0.2,
          });
        } else {
          gsap.to(content, {
            opacity: 0,
            y: 30,
            duration: 0.6,
            ease: "power3.in",
          });
        }
      });
    }, options);

    sections.forEach((section) => observer.observe(section));
  });
</script>